.footer {
  & {
    padding: 0 25px;
    margin-top: 20px;
  }

  // .footer__nav

  &__nav {
    display: flex;
    padding: 25px 0;
    justify-content: flex-end;
  }
}

.nav {
  // .nav__branding

  &__branding {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
