@import '../../variables';

.header {
  & {
    padding: 10px 25px;
    z-index: 5;
    margin-bottom: 20px;
  }
}

.nav {
  & {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 0;
  }

  // .nav__links

  &__links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
}

.list {
  & {
    display: flex;
    align-items: center;

    &-mobile {
      margin-right: 32px;
      padding: 20px;
      width: 70%;
      max-width: 250px;
      display: flex;
      flex-direction: column;
      position: fixed;
      height: 100%;
      background-color: $color-primary;
      top: 0;
      left: 0;
    }
  }

  // .list__link

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    padding: 0 8px;
    transition: 0.3s color ease;
    padding: 15px 0;
    color: $color-text;
    border-bottom: 1px solid $color-subtitle;
    width: 100%;

    &:hover {
      color: $color-secondary;
    }

    &--danger {
      color: $color-danger;

      &:hover {
        color: $color-danger;
      }
    }

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.branding {
  // .branding__link
  &__link {
    font-size: 22px;
    font-weight: 600;
    font-size: 24px;
    color: $color-secondary;
    text-decoration: none;
    transition: 0.2s;
  }
}

.menu--icon {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 25px;
  height: 25px;
  width: auto;
}

.list-mobile-enter-active,
.list-mobile-leave-active {
  transition: all 0.5s ease;
  transform: translateX(-350px);
}

.list-mobile-enter-to {
  transform: translateX(0);
}

.list-mobile-leave-to {
  transform: translateX(-350px);
}
