.post {
  & {
    background: #202020;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;

    &:first-child {
        margin-top: 30px;
    }

    &:last-child {
      margin-bottom: 30px;
  }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .post__separator

  &__separator {
    margin: 0 15px;
  }

  // .post__content

  &__content {
    padding: 25px 26px;
  }

  // .post__text

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #d2d2d2;
  }

  // .post__date

  &__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }

  // .post__img

  &__img {
    width: 100%;
  }

  // .post__title

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 15px;
  }

  // .post__container

  &__container {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  // .post__block

  &__block {
    display: flex;
    align-items: center;
  }

  // .post__category

  &__category {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    text-transform: lowercase;
  }

  // .post__link

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #107eff;
  }
}
