@use './components/posts';
@use './components/popular';

.home {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    justify-content: initial;
    flex-direction: column;
  }

  &__content {
    max-width: 1040px;
  }
}
